<html lang="en" >
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body ng-app="FontPicker" ng-cloak ng-controller="MainCtrl">
    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family={{ fonts.family }}">-->

    <style ng-repeat="font in fonts|limitTo:limit">
        @import url('https://fonts.googleapis.com/css?family={{ font.family }}');
    </style>

    <div class="wrapper">
        <div class="fonts">
            <div class="font-preview">
                <md-input-container class="md-block">
                    <textarea ng-model="content.textarea" md-maxlength="150" rows="3" md-select-on-focus style="font-family: '{{ aplliedFont }}'"></textarea>
                </md-input-container>
                <div class="font-box">
                    <div layout="row" layout-wrap>
                        <div class="font-item" flex="25" ng-repeat="font in fonts | limitTo:limit" ng-click="getFont(this.font.family); activateFont(font)"
                             ng-class="{'active': selectedFont === font}" ng-show="font.category == type || type == null">
                            <h2 style="font-family: {{ font.family }}">{{content.preview}}</h2>
                            <span>({{ font.family }}) | {{font.category}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="font-options">
                <p><b>Choose your options:</b></p>
                <md-radio-group ng-model="content.font">
                    <md-radio-button value="all" class="md-primary" ng-click="type = null">all</md-radio-button>
                    <div ng-repeat="(key, value) in fonts | groupBy: 'category'">
                        <md-radio-button value="{{key}}" ng-click="setType(this)">{{key}}</md-radio-button>
                    </div>

                </md-radio-group>
            </div>
        </div>

        <md-button class="md-raised md-primary" ng-click='limit = limit +15'>Load more fonts</md-button>
    </div>


<!-- Angular Material requires Angular.js Libraries -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.14/angular-filter.min.js"></script>

<!-- Angular Material Library -->
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

<!-- Your application bootstrap  -->
<script type="text/javascript" src="js/app.js"></script>

</body>
</html>